---
import '../pages/style.css';
import rezel_logo from '../assets/rezel_blanc.svg';
---

<!DOCTYPE html>
<html lang="en">

<head>
        <title>QR Code Generator</title>
</head>
<body>  
        <p id="page-header"><img id="rezel" src={rezel_logo.src}  /> rezel code generator</p>
        <h1 id = "main">QR Code Generator</h1>
        <form action="/generate" method="post" id ="qr-form">
                <input type="text" name="data" placeholder="Enter data for QR code" required>
                <button type="submit">Generate QR Code</button>
        </form>
</body>
</html>

