---
import '../pages/style.css';
import rezel_logo from '../assets/rezel_blanc.svg';

---

<!DOCTYPE html>
<html lang="en">

<head>
        <title>QR Code Generator</title>
</head>

<body>  
        <p id="page-header"><img id="rezel" src={rezel_logo.src}  /> rezel code generator</p>
        <h1 id = "main">QR Code Generator</h1>
        <div class="box">
        <input id="qr-input" type="text" name="data" placeholder="Enter data for QR code" required>
        <select id="format">
                <option value="jpg">JPG</option>
                <option value="svg">SVG</option>
      </select>
      <select id="security-level">
                <option disabled selected>Security Level</option>
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">Quartile</option>
                <option value="high">High</option>
      </select>
        <button id="submit" >Generate QR Code</button>
      </div>
      <div class ="box">
         <a id = "download-link" download style="display: none;"> Download QR Code</a>
        <img id = "answer"> </img>
        </div>  
</body>


<script>
  import '../script/api.ts';
</script>
</html>

