---
import '../pages/style.css';
import rezel_logo from '../assets/rezel_blanc.svg';

---

<!DOCTYPE html>
<html lang="en">

<head>
        <title>QR Code Generator</title>
</head>

<body>  
        <h1 id = "main"><img id="rezel" src={rezel_logo.src}  /> QR Code Generator</h1>
        <div class="box" id="qr-form">
        <input id="qr-input" type="text" name="data" placeholder="Enter data for QR code" required>
        <div id="format-buttons">
          <button id="format-jpg" class="format-btn active">JPG</button>
          <button id="format-svg" class="format-btn">SVG</button>
        </div>
      <select id="security-level">
                <option disabled >-- Select a precision level --</option>
                <option value="low" selected>Low</option>
                <option value="medium" >Medium</option>
                <option value="quartile">Quartile</option>
                <option value="high">High</option>
      </select>
      <div id="shorten-container">
        <input id="shorten-checkbox" type="checkbox" checked = "true"/>
        <label for="shorten-checkbox"></label>
        <span>Shorten URL</span>
      </div>
        <button id="submit" >Create!</button>
      <p id="sec-select" style="display:none;"> Select a security level before generating the QR code. </p>
      </div>
      <div class ="box" id ="answer-box">
        <div  id="loading"style="display : none;">
        <div class="loader"></div> 
        <p>Loading QR code wait a moment</p></div>
        <img id = "answer"> </img>
         <a id = "download-link" download tabindex="0" style="display: none;"> Download QR Code</a>

        </div>  
</body>


<script>
  import '../script/api.ts';
</script>
</html>

