

body {
    background-color: rgb(56, 58, 88);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-family:"Lucida Console", "Courier New", monospace;
}

#page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: saddlebrown;
    color: white;
    padding: 15px 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    z-index: 100;
}

#rezel{
    height: 60px;
    margin-right: 10px;
    vertical-align: middle;
}

#main{
    color : white;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

#qr-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}   


#id{
    padding: 10px;
    border-radius: 25px;
    width: 300px;
    max-width: 80vw;
    border: none;
    font-size: 1rem;
}
.box{
    padding-top: 10px;
    border-radius: 25px;
    width:45%;
    height : 600px;
    max-width: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background: white;
    
}

#qr-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#qr-input{
    padding: 10px;
    width: 90%;
    max-width: 80vw;
    border : none;
    border-bottom: 2px solid #666464;
    font-size: 1rem;
}

#qr-input:focus{
    outline: none;
    border-radius: 10px;
    border-bottom: 3px solid #121212;
}
#shorten-label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}

#shorten-container {
    display: flex;
    width:90%;
    align-items: center;
    gap: 14px;
    justify-content: center;
}

label{
    position : relative;
    width : 30px;
    height : 30px;
    border:1px solid #121212;
    border-radius:3px ;
    cursor: pointer;
    display :inline-block;
    background-color: rgb(43, 41, 41);
}

label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 10px;
    width: 7px;
    height: 14px;
    border-right : 2px solid white;
    border-bottom : 2px solid white;
    opacity: 0;
    transition : all 0.3s ease;
    transition-delay: 0.15s;
    transform: rotate(45deg) scale(0);
    
}


#shorten-checkbox:checked ~label{
    background-color: #121212;
    animation:checky 0.5s ease;
}

#shorten-checkbox:checked ~label::after{
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

 #shorten-checkbox{
    display: none;
}

@keyframes checky{
    from{
        transform: scale(1,1);
    }
    20%{
        transform: scale(1.3,0.75);
    }
    80%{
        transform: scale(0.75,1.3);
    }
    to {
        transform : scale(1,1);
    }
}



@keyframes checky2{
    from{
        transform: scale(1,1);
    }
    20%{
        transform: scale(0.9,1.2);
    }
    30%{
        transform: scale(3.5,0.85);
    }
    35%{
        transform: scale(0.9,1.2);
    }
    40%{
        transform: scale(2.5,0.85);
    }
    45%{
        transform: scale(0.9,1.2);
    }
    50%{
        transform: scale(2,0.85);
    }
    55%{
        transform: scale(0.9,1.2);
    }
    60%{
        transform: scale(1.6,0.85);
    }
    80%{
        transform: scale(0.9,1.2);
    }
    to {
        transform : scale(1,1);
    }
}
#submit{
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: rgb(43, 41, 41);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}




#submit:hover{
    background: linear-gradient(to right, #8d8c8c, #000000);
}

#submit:active{
    background: linear-gradient(to right, #a14d4d, #000000);
    transform: scale(0.90) ;
}

#format-buttons {
    display: flex;
    gap: 10px;
}

.format-btn {
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid rgb(43, 41, 41);
    background-color: white;
    color: rgb(43, 41, 41);
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.8s ease;
}

.format-btn.active {
    background-color: rgb(43, 41, 41);
    color: white;
    animation:checky2 1.4s ease;
}

.format-btn:hover {
    border-color: #000;
}


#security-level {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid rgb(43, 41, 41);
    background-color: white;
    color: rgb(43, 41, 41);
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

select::picker-icon {
    display:none;
}


#loading{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#answer-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@keyframes gradientSlide {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#download-link{
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid rgb(43, 41, 41);
    background-color: #121212;
    color: rgb(235, 234, 234);
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    text-decoration: none;


    &:hover {
        background: linear-gradient(to right, #8d8c8c, #000000);
        color: white;
        border:none;
    }

    &:focus {
    background: linear-gradient(90deg, #a14d4d, #000000, #a14d4d, #000000);
    background-size: 300% 100%;
    animation: gradientSlide 3s linear infinite;
    color: white;
}
}


.loader {
  height: 30px;
  aspect-ratio: 3;
  --c:no-repeat linear-gradient(#514b82 0 0);
  background:
    var(--c) calc(0*100%/5) 50%,
    var(--c) calc(1*100%/5) 50%,
    var(--c) calc(2*100%/5) 50%,
    var(--c) calc(3*100%/5) 50%,
    var(--c) calc(4*100%/5) 50%,
    var(--c) calc(5*100%/5) 50%;
  background-size:calc(100%/6 + 1px) 50%;
  animation: l19 1s infinite cubic-bezier(0.5,170,0.5,-170);
}
@keyframes l19 {
    14.28% {background-position: calc(0*100%/5) 51%, calc(1*100%/5) 50%, calc(2*100%/5) 50%, calc(3*100%/5) 50%, calc(4*100%/5) 50%, calc(5*100%/5) 50%}
    28.57% {background-position: calc(0*100%/5) 50%, calc(1*100%/5) 51%, calc(2*100%/5) 50%, calc(3*100%/5) 50%, calc(4*100%/5) 50%, calc(5*100%/5) 50%}
    42.85% {background-position: calc(0*100%/5) 50%, calc(1*100%/5) 50%, calc(2*100%/5) 51%, calc(3*100%/5) 50%, calc(4*100%/5) 50%, calc(5*100%/5) 50%}
    57.14% {background-position: calc(0*100%/5) 50%, calc(1*100%/5) 50%, calc(2*100%/5) 50%, calc(3*100%/5) 51%, calc(4*100%/5) 50%, calc(5*100%/5) 50%}
    71.42% {background-position: calc(0*100%/5) 50%, calc(1*100%/5) 50%, calc(2*100%/5) 50%, calc(3*100%/5) 50%, calc(4*100%/5) 51%, calc(5*100%/5) 50%}
    85.71% {background-position: calc(0*100%/5) 50%, calc(1*100%/5) 50%, calc(2*100%/5) 50%, calc(3*100%/5) 50%, calc(4*100%/5) 50%, calc(5*100%/5) 51%}
}